body{
  background: url("image/r_m_bg.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.container{
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 80%;
  height: 350px;
  border-radius: 2px;
  border: 2px solid black;
  margin: 0 auto;
}

.data{
  width: 20%;
  margin: 20px;
}

#IMG{
  margin-top: 20px;
  width: 100%;
  height: 250px;
}

.image1{
  width: 30%;
}

.image2{
  color: #B0C4DE;
  font-family: 'Permanent Marker', cursive;
  text-shadow: 2px 2px 0px #00ff00;
}

.image3{
  font-family: 'Permanent Marker', cursive;
  text-shadow: 2px 2px 0px #87CEFA;
}

.location{
  font-family: 'Permanent Marker', cursive;
  text-shadow: 2px 2px 0px #87CEFA;
}

.sidebar{
  width: 30%;
  overflow: none;
}

#modal{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  display: none;
}

#modal-textbox{
  background-color: whitesmoke;
  height: 200px;
  width: 550px;
  border-radius: 3px;
  margin: 150px auto;
  padding: 2%;
  line-height: 120%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

#modal-footer{
  text-align: right;
  padding-bottom: 15px;
}

#modal > h2{
  padding-bottom: 15px;
}

#modal-textbox > h2{
  font-family: 'Permanent Marker', cursive;
}


#close {
	padding: 14px 18px;
	background-color: #ADFF2F;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Fantasy';
	cursor: pointer;
  border: 1px solid black;
}

#close:hover{
  border-color: black;
  border-width: thin;
}

#title{
  color: white;
  display: flex;
  justify-content: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  text-shadow: 2px 2px 0px #00ff00;
}

.button{
  /* display: flex;
  justify-content: center; */
  font-family: 'Permanent Marker', cursive;
  font-size: 15px;
  border-radius: 25px;
  height: 70px;
  width: 100px;
  border-width: medium;
  /* margin-bottom: 20px;
  margin-top: 30px;
  margin-left: 30px; */
  margin: 10px;
  cursor: pointer;
}

.button:hover{
  color: white;
  background-color: #ADFF2F;
  border-color: #FFFF00;
  border-width: thick;
}
